.contact {
  transition: transform 0.5s ease;
  transform: scale(1, 1);
  color: black;
}
.contact:hover {
  transform: scale(1.05);
}
li:active { 
  animation: fontChange 1s ease;
  padding: 0px;
}
@keyframes fontChange {
  70% {
    font-size: 30px;
  }
}

.about {
  transition: transform 0.5s ease;
  transform: scale(1, 1);
}
.about:hover {
  transform: scale(1.05);
}

.portfolio {
  transition: transform 0.5s ease;
  transform: scale(1, 1);
}
.portfolio:hover {
  transform: scale(1.05);
}